@use "../../scss/" as *;


.main {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 55px;

  .hero {
    display: grid;
    grid-template-areas: 
    'a a c'
    'b b c'
    ;
    // grid-template-rows: minmax(0, 260px) 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr 1fr 345px;
    gap: 30px;
    width: 100%;

    @include tablet {
      grid-template-areas: 
      'a a'
      'b b'
      'c c'
      ;
      grid-template-columns: 1fr;
      grid-template-rows: 400px auto auto;
      gap: 16px;
    }


    &__imagen {
      grid-area: a;
      background-image: url('../../assets/images/image-web-3-desktop.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 100%;
      @include mobile {
        background-image: url('../../assets/images/image-web-3-mobile.jpg');
      }
    }

    &__overview {
      grid-area: b;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 40px;

      @include tablet {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        gap: 20px;
      }

      &-title {
        h1 {
          font-size: 55rem;
          line-height: 55px;

          @include tablet {
            font-size: 40rem;
          }
        }
      }
      &-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        gap: 20px;

        p {
          font-size: 17rem;
          color: $Grayish-dark-blue-color;
        }
        button {
          background: $bg-button;
          border: none;
          border-radius: 3px;
          padding: 20px 30px;
          font-size: 16rem;
          font-weight: 700;
          color: $white;
          line-height: 10px;
          letter-spacing: 5px;
          cursor: pointer;
          transition: all 0.2s ease;

          &:hover {
            background: $bg-blue-dark;
          }
        }
      }
    }

    &__suggestions {
      grid-area: c;
      height: 100%;
      width: 100%;
      background: $bg-blue-dark;
      color: $white;
      padding: 25px;

      h2 {
        font-size: 35rem;
        color: hsl(35, 77%, 62%);
      }

      &-article {

        padding: 20px 0; 
        border-bottom: 1px solid $Grayish-blue-color;
        h3 {
          font-size: 19rem;
          font-weight: 700;
          margin-bottom: 10px;
          transition: all .2s ease;
          cursor: pointer;

          &:hover {
            color: hsl(35, 77%, 62%);
          }
        }
        p {
          font-size: 15rem;
          color: $Grayish-blue-color;
        }
      }

      & > div:last-child {
        border: none;
      }
    }
  } 

  .articles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: max-content;
    gap: 40px;

    @include tablet {
      grid-template-columns: repeat(a, 1fr);
    }

    &__item {
      display: grid;
      grid-template-columns: 100px 1fr;
      gap: 25px;

      &-logo {
        width: 100%;
        height: auto;
      }

      &-data {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      &-number {
        font-size: 30rem;
        color: $Grayish-blue-color;
      }
      &-title {
        font-size: 17rem;
        font-weight: 800;
        cursor: pointer;
        transition: all 0.2s ease;

        &:hover {
          color: $bg-button;
        }
      }
      &-text {
        font-size: 15rem;
        color: $Grayish-dark-blue-color;
      }
    }
  }
}