$body-bg: #fff;
$main-color: #E13C2F;
$txt-color: #000;
$bg-blue-dark: hsl(240, 100%, 5%);
$bg-button: hsl(5, 85%, 63%);
$Grayish-blue-color: hsl(233, 8%, 79%);

$white: #fff;
$black: #000;

$box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
$border-radius: 7px;

$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: 'Inter', sans-serif;